[mysqld]
log_error = /var/log/mysql/mysql.log
log_bin = mysql-bin
binlog_format = row
expire_logs_days = 7
default-storage-engine = innodb
innodb_autoinc_lock_mode = 2

key_buffer_size = 64M
max_heap_table_size = 64M
tmp_table_size = 64M